/*Basic settings*/
* {
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serife;
	font-weight: 300;
	position: relative;
	}
html {
	font-size: 10px;
}
a:focus {
	outline: none;
}
button:focus {
	outline: none;
}

/*Sidebar*/
.sidebar {
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 10rem;
  height: 100vh;
  z-index: 5;
}
.logo {
	padding-top: 3rem;
}
.logo img {
	width: 5rem;
}
.items {
	padding-top: 10rem;
}
.item {
	margin-bottom: 5rem;
}
.item img {
	width: 2rem;
}
.item-1 img {
	width: 1.7rem;
}
.in {
	position: absolute;
	bottom: 4rem;
	left: 50%;
	margin-left: -1rem;
}
.in img {
	width: 2rem;
}
.hamburger {
	position: absolute;
	top: 3rem;
	right: 4rem;
	background-color: #fff;
	box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	padding-top: 1.75rem;
	z-index: 99;
}
.hamburger span {
	display: block;
	margin: 2px auto;
	background-color: #0023ff;
	height: 2px;
	width: 30%;
}

/*Main screen*/
.main {
	min-height: 450px;
	height: 100vh;
}
.main-item_1 {
	background: url(../img/main-item_1.jpg) no-repeat center center;
	background-size: cover;
	height: 100%;
}
.main-item {
	text-transform: uppercase;
	text-align: center;
	padding-top: 10rem;
	position: relative;
}
.main-item_1 h2 {
	font-size: 10rem;
	font-weight: 100;
	position: relative;
	z-index: 1;
}
.main-item_1 h3 {
	font-size: 2rem;
	margin-top: 2.5rem;
	position: relative;
	z-index: 1;
}
.main-item_1 span {
	font-weight: 900;
	font-size: 20rem;
	color: #e7e7e7;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-70%);
	z-index: 0;
}
.main-btn {
	position: relative;
	z-index: 1;
	margin-top: 2rem;
	background-color: #0023ff;
	border: none;
	border-radius: 50px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	padding: 1.5rem 5rem;
	font-size: 1.4rem;
}

/*Menu*/
.menu {
	transform: translateX(100%);
	position: fixed;
	top: 0;
	right: 0;
	width: 35rem;
	height: 100vh;
	background-color: #fff;
	transition: all 0.3s;
}
#main-menu:target {
	transform: translateX(0);
}
#main-menu:target + .hamburger {
	display: none;
}
#close-menu {
	padding-top: 0;
}
#close-menu span {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0;
}
#close-menu span:nth-child(1) {
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
#close-menu span:nth-child(2) {
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.navigation img {
	width: 4rem;
	vertical-align: middle;
	display: inline-block;
	margin-left: 2rem;
}
.navigation {
	text-align: right;
	padding-right: 5rem;
	padding-top: 20rem;
}
.navigation a {
	line-height: 4rem;
	text-transform: uppercase;
	font-size: 2rem;
	color: #c1c1c1;
	text-decoration: none;
}
.categories-link {
	position: absolute;
	bottom: 5rem;
	right: 50%;
	transform: translateX(50%);
	text-transform: uppercase;
}
.categories-link a {
	color: #0023ff;
	font-weight: 400;
	font-size: 1.5rem;
	text-decoration: none;
}
.link-line {
	display: block;
	width: 70%;
	margin: 1rem auto;
	height: 2px;
	background-color: #0023ff;
}