/*Basic settings*/
* {
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serife;
	font-weight: 300;
	position: relative;
	}
html {
	font-size: 10px;
}
a:focus {
	outline: none;
}
button:focus {
	outline: none;
}

/*Sidebar*/
.sidebar {
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 10rem;
  height: 100vh;
  z-index: 5;
}
.logo {
	padding-top: 3rem;
}
.logo img {
	width: 5rem;
}
.items {
	padding-top: 10rem;
}
.item {
	margin-bottom: 5rem;
}
.item img {
	width: 2rem;
}
.item-1 img {
	width: 1.7rem;
}
.in {
	position: absolute;
	bottom: 4rem;
	left: 50%;
	margin-left: -1rem;
}
.in img {
	width: 2rem;
}
.hamburger {
	position: absolute;
	top: 3rem;
	right: 4rem;
	background-color: #fff;
	box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	padding-top: 1.75rem;
	z-index: 99;
}
.hamburger span {
	display: block;
	margin: 2px auto;
	background-color: #0023ff;
	height: 2px;
	width: 30%;
}

/*Main screen*/
.main {
	min-height: 450px;
	height: 100vh;
}
.main-item_1 {
	background: url(../img/main-item_1.jpg) no-repeat center center;
	background-size: cover;
	height: 100%;
}
.main-item {
	text-transform: uppercase;
	text-align: center;
	padding-top: 10rem;
	position: relative;
}
.main-item_1 h2 {
	font-size: 10rem;
	font-weight: 100;
	position: relative;
	z-index: 1;
}
.main-item_1 h3 {
	font-size: 2rem;
	margin-top: 2.5rem;
	position: relative;
	z-index: 1;
}
.main-item_1 span {
	font-weight: 900;
	font-size: 20rem;
	color: #e7e7e7;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-70%);
	z-index: 0;
}
.main-btn {
	position: relative;
	z-index: 1;
	margin-top: 2rem;
	background-color: #0023ff;
	border: none;
	border-radius: 50px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	padding: 1.5rem 5rem;
	font-size: 1.4rem;
}

/*Menu*/
.menu {
	transform: translateX(100%);
	position: fixed;
	top: 0;
	right: 0;
	width: 35rem;
	height: 100vh;
	background-color: #fff;
	transition: all 0.3s;
}
#main-menu:target {
	transform: translateX(0);
	box-shadow: 0 0 3rem rgba(0,0,0,0.1);
}
#main-menu:target + .hamburger {
	display: none;
}
#close-menu {
	padding-top: 0;
}
#close-menu span {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0;
}
#close-menu span:nth-child(1) {
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
#close-menu span:nth-child(2) {
	transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.navigation img {
	width: 4rem;
	vertical-align: middle;
	display: inline-block;
	margin-left: 2rem;
}
.navigation {
	text-align: right;
	padding-top: 20rem;
}
.navigation li {
	display: block;
	padding-right: 5rem;
}
.navigation a {
	display: block;
	line-height: 4rem;
	text-transform: uppercase;
	font-size: 2rem;
	color: #c1c1c1;
	text-decoration: none;
	transition: all 0.3s;
}
.navigation a:hover {
	margin-right: 2rem;
	color: #0023ff;
}
.categories-link {
	position: absolute;
	bottom: 5rem;
	right: 50%;
	transform: translateX(50%);
	text-transform: uppercase;
}
.categories-link a {
	color: #0023ff;
	font-weight: 400;
	font-size: 1.5rem;
	text-decoration: none;
}
.categories-link span {
	transition: all 0.3s;
}
.categories-link a:hover + span {
	width: 30%;
}
.link-line {
	display: block;
	width: 70%;
	margin: 1rem auto;
	height: 2px;
	background-color: #0023ff;
}

/*Products*/
.container {
	width: 1024px;
	margin: 0 auto;
}
.categories {
	background-color: #f0f0f0;
	min-height: 100vh;
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.products-cards {
	padding-top: 4rem;
}
.card {
	display: inline-block;
	vertical-align: middle;
	background-color: #fff;
	text-decoration: none;
	color: #a8a8a8;
	line-height: 2rem;
	padding: 1rem;
	margin-top: 2rem;
	height: 30rem;
}
.card h3 {
	text-transform: uppercase;
	font-size: 1.6rem;
	color: #000;
}
.card p {
	font-size: 1.3rem;
}
.card-price {
	color: #0023ff;
	font-weight: 900;
	font-size: 1.6rem;
	margin-top: 1rem;
	display: inline-block;
}
.categories-header h2 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 4rem;
	display: inline-block;
}
.categories-header span {
	vertical-align: top;
	display: inline-block;
	text-align: right;
	float: right;
	font-size: 2rem;
	color: #c1c1c1;
	text-transform: uppercase;
}
.categories-header span img {
	width: 4rem;
	display: inline;
	vertical-align: middle;
	margin-left: 2rem;
}
.card img {
	display: inline-block;
	height: 20rem;
	vertical-align: middle;
}
.card-text {
	display: inline-block;
	margin-left: 3rem;
	vertical-align: middle;
}
.card:nth-child(1), .card:nth-child(3) {
	width: 25%;
	margin-right: 2rem;
}
.card:nth-child(2) {
	padding-top: 6rem;
	line-height: 3rem;
	width: 70%;
}
.card:nth-child(4) {
	padding-top: 6rem;
	line-height: 3rem;
	width: 44.8%;
	margin-right: 2rem;
}
.card:nth-child(2) h3 {
	font-size: 3rem;
}
.show-more-link {
	text-align: center;
	margin-top: 4rem;
}
.show-more-link a {
	text-transform: uppercase;
	color: #0023ff;
	font-size: 1.5rem;
	text-decoration: none;
}

/*Card of product*/
.card-product {
	margin-left: 10rem;
}
.rating {
	text-align: right;
}
.photo-block {
	position: relative;
	width: 50rem;
	padding: 3rem;
	box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.45);
	min-height: 100vh;
}
.photo-product {
	padding-top: 15%;
	text-align: center;
}
.photo-product img {
	width: 70%;
	min-width: 40rem;
}
.rating img {
	width: 2rem;
	vertical-align: middle;
}
.rating span {
	vertical-align: middle;
	font-size: 1.5rem;
}
.card-panel {
	position: absolute;
	width: 100%;
	bottom: 4rem;
}
.zoom {
	padding-top: 0.5rem;
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}
.zoom img {
	width: 2rem;
	margin-right: 1rem;
}
.search {
	float: right;
	display: inline-block;
	vertical-align: middle;
	width: 30%;
}
.map-icon {
	width: 2rem;
	margin-right: 2rem;
}
.search-icon {
	width: 2.5rem;
}



/*Media*/
@media (max-width: 1024px) {
	html {
		font-size: 8px;
	}
	.navigation {
		padding-top: 15rem;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 6px;
	}
	.hamburger {
		width: 6rem;
		height: 6rem;
	}
}